<!DOCTYPE html>
<html>

<head>
<title>Matrix Calculator</title>

<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>
<div class="container">
  <div class="textareacontainer">
    <div class="textarea">
      <div class="headerText" style="width:auto;float:left;">Edittt This Code:</div>
      <div class="headerBtnDiv" style="width:auto;float:right;margin-top:8px;margin-right:2.4%;"><button class="submit" type="button" onclick="submitTryit()">See Result &raquo;</button></div>
      <div class="textareawrapper">
        <textarea autocomplete="off" class="code_input" id="textareaCode" wrap="logical" xrows="30" xcols="50">
<!DOCTYPE html>
<html>
<body>

<script>
document.write(Date());
</script>

</body>
</html> 
</textarea>
          <form autocomplete="off" style="margin:0px;display:none;" action="tryit_view.asp" method="post" target="view" id="tryitform" name="tryitform" onsubmit="validateForm();">
            <input type="hidden" name="code" id="code" />
            <input type="hidden" id="bt" name="bt" />
          </form>
       </div>
    </div>
  </div>
  <div class="iframecontainer">
    <div class="iframe">
      <div class="headerText resultHeader">Result:</div>
      <div class="iframewrapper">
        <iframe id="iframeResult" class="result_output" frameborder="0" name="view" xsrc="tryjs_date.htm"></iframe>
      </div>
      <div class="footerText">Try it Yourself - &copy; <a href="http://www.w3schools.com">w3schools.com</a></div>      
    </div> 
  </div>
</div>


<table border="0" cellspacing="0" cellpadding="0">
<tr><td colspan="3" style="text-align:center">Result matrix</td></tr>
<tr><td id="mb30">(</td>
<td style="text-align:center">
<input readonly="readonly" id="3ma11" /><input readonly="readonly" id="3ma12" /><input readonly="readonly" id="3ma13" /><input readonly="readonly" id="3ma14" /><input readonly="readonly" id="3ma15" /><br />
<input readonly="readonly" id="3ma21" /><input readonly="readonly" id="3ma22" /><input readonly="readonly" id="3ma23" /><input readonly="readonly" id="3ma24" /><input readonly="readonly" id="3ma25" /><br />
<input readonly="readonly" id="3ma31" /><input readonly="readonly" id="3ma32" /><input readonly="readonly" id="3ma33" /><input readonly="readonly" id="3ma34" /><input readonly="readonly" id="3ma35" /><br />
<input readonly="readonly" id="3ma41" /><input readonly="readonly" id="3ma42" /><input readonly="readonly" id="3ma43" /><input readonly="readonly" id="3ma44" /><input readonly="readonly" id="3ma45" /><br />
<input readonly="readonly" id="3ma51" /><input readonly="readonly" id="3ma52" /><input readonly="readonly" id="3ma53" /><input readonly="readonly" id="3ma54" /><input readonly="readonly" id="3ma55" />
</td>
<td id="mb31">)</td>
</tr></table>

<div ng-app="" ng-init="arr=[[1,2,3],[4,5,6],[7,8,9]]"> 

<table>
  <tr ng-repeat="x in arr">
    <td ng-repeat="y in x">{{y}}</td>
  </tr>
</table>

</div>

</body>
</html>
